<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1">
        <p class="footer-text">We acknowledge the Traditional Owners of country throughout Australia and pay our respects to their Elders past, present and emerging.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <img class="footer-logo float-md-right" src="assets/images/logo.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 order-2 order-md-1">
        <p>
          Copyright © 2021 Digital Purpose
        </p>
      </div>
      <div class="col-md-5 order-1 order-md-2">
        <div class="footer-socials flex-column flex-md-row justify-content-md-between">
          <a href="#">LinkedIn</a>
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
        </div>
      </div>
    </div>
  </div>

</footer>
