@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.footer {
  background-color: #1a2c4f;
  color: white;
  width: 100%;
  padding: 40px 32px 0 32px;
  min-height: fit-content;
  position: absolute;
  bottom: 0;

  .footer-logo {
    width: 216px;
    height: 67px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.38;
    font-family: 'Lato', sans-serif;
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;

    a {
      color: white;
    }
  }

}

@include media-breakpoint-up (md) {

  .footer-text {
    margin-bottom: 94px;
  }
}

@include media-breakpoint-down (sm) {
  footer{
    text-align: left;
  }

  .footer-text {
    margin: 16px 0;
  }

  .footer-logo {
    margin: 16px 0;
  }

  .footer-socials {
    margin: 16px 0 32px 0;
  }
}
