@import "../../../../scss/variables";

.placeholder-image {
  width: 100%;
  height: 300px;
  align-self: center;
  border-radius: 8px;
  border: 2px #d5d8df dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.image-preview {
  text-align: center;
}

.rounded-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #828b9f;
}

.submit-btn {
  height: 48px;
  width: 193px;
  padding: 12px 0;
  margin: 24px 0;
  float: right;
  background-color:$sky;
  border-radius: 8px;
  border: none;
  color: white;
}

.form-label {
  color: #828b9f;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

select {
  color: #828b9f;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.idea-error{
  font-size: 14px;
  color: #d16168;
}

.idea-image {
  width: 100%;
  height: 300px;
}



