<div class="container">
  <div class="mb-4">
    <a [routerLink]="['/']">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      Back to ideas</a>
  </div>
  <h2>How can we better our world?</h2>
  <div class="alert-danger rounded mt-2 mb-2 p-2 idea-error" *ngIf="submitHasError">
    <span>{{errorMessage}}</span>
  </div>
  <form [formGroup]="ideaForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-sm-7">
        <label class="form-label">Title of Idea*</label>
        <input class="form-control mb-2 p-2" formControlName="title">
        <label class="form-label">Your Name*</label>
        <input class="form-control mb-2 p-2" formControlName="publisherName">
        <label class="form-label">Sustainable Development Goal*</label>
        <select class="form-control mb-2 p-2" formControlName="goal">
          <option value="">Select one</option>
          <option *ngFor="let goal of goals" [value]="goal.key">{{goal.label}}</option>
        </select>
        <label class="form-label">Whats Your Idea?*</label>
        <textarea class="form-control mb-4 p-2" formControlName="description" rows="8" cols="100"></textarea>
      </div>
      <div class="col-sm-5">
        <label class="form-label">Add an image to support your idea*</label>
        <input class="form-control mb-2 p-2" formControlName="thumbnailUrl">
        <div class="image-preview">
          <img class="idea-image" [src]="this.ideaForm.controls['thumbnailUrl'].value"
               *ngIf="this.ideaForm.controls['thumbnailUrl'].value !== ''">
          <div class="placeholder-image" *ngIf="this.ideaForm.controls['thumbnailUrl'].status === 'INVALID'">
            <div class="rounded-circle">
              <fa-icon [icon]="imageIcon"></fa-icon>
            </div>
            <p class="mt-4 align-self-center">Image preview</p>
          </div>
        </div>
        <button class="submit-btn" type="submit" [disabled]="isSaving">Submit Comment</button>
      </div>
    </div>
  </form>
</div>
