@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.ideas-section {
  padding: 2rem 0;

  .search-form {
    display: flex;
    justify-content: space-between;
    .search-field {
      border: none;
      &::placeholder {
        color: $placeholder-text;
      }
    }
  }

  .input-group-text {
    border: none;
    background-color: white;
    color: $placeholder-text;
  }

  .ideas-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 32px;
    row-gap: 32px;

    .idea {
      cursor: pointer;
      .thumbnail {
        width: 250px;
        height: 180px;
        border: 1px solid $border-color;
        border-radius: 6px;
        margin-bottom: 1rem;

        img {
          border-radius: 6px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      .idea {
        .thumbnail {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 32px;
  margin: 2rem;
  color: lightgrey;
}

.cta-banner {
  border-radius: 8px;
  background-color: $ice-blue;
  padding: 0 0 0 44px;
  height: fit-content;
  margin: 24px 0;

    h3 {
      padding-top: 24px;
      font-size: 28px;
    }

    p {
      font-size: 16px;
      line-height: 1.38;
      color: $dark-blue-grey;
    }

    button {
      width: 216px;
      height: 48px;
      margin: 24px 0;
      padding: 12px 0 12px;
      border-radius: 8px;
      color: white;
      background-color: $dark-blue-grey;
      border: none;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
    }

    .cta-image {
      height: 264px;
      width: 244px;
      float: right;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
      height: fit-content;
      padding: 8px 0 8px 8px;

        button {
          margin: 24px auto 24px auto;
        }

        .cta-image {
          display: none;
        }
    }
}
