<div class="idea-submitted">
  <h2>Thank you for sharing your idea with us!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices neque ornare aenean euismod elementum.</p>
  <button [routerLink]="['/']">Back to home</button>
</div>
