@import "../../../../scss/variables";

.idea-submitted {
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;

  button {
    background-color: $azure;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    color: white;
    border: 1px solid $azure;
  }
}
