<div class="idea" *ngIf="!isLoading">
  <div class="container" *ngIf="!isMobile">
    <div class="mb-4">
      <a [routerLink]="['/']">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
        Back to ideas</a>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <img class="idea-image" src="{{idea.thumbnailUrl}}" alt="{{idea.title}} image">
        <h1 class="idea-title">{{idea.title}}</h1>
        <h3>{{idea.goal}}</h3>
        <p class="idea-description">{{idea.description}}</p>
      </div>
      <div class="col-sm-3">
        <h4>{{idea.publisherName}}</h4>
        <span>Published December 12th 2020</span>
        <div class="container-fluid">
          <div class="row">
            <div class="idea-cta">
              <h3>Do you have an idea that could better our world?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <button class="cta-banner-button" [routerLink]="['/idea/add']">Share your idea</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template [ngIf]="isLoading">
  <div class="loading">
    <fa-icon [icon]="spinnerIcon" [spin]="true"></fa-icon>
  </div>
</ng-template>
