@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

.idea {

  a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: $azure;
  }

  fa-icon {
    font-size: 16px;
    margin: 0 16px 24px 0;
    color: $azure;
  }

  .idea-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 24px;
    border-radius: 8px;

  }

  .idea-description {
    margin:24px 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: $dark-blue-grey;
    line-height: 1.38;
  }

  .idea-cta {
    background-color: $butterscotch;
    position: relative;
    padding: 5%;
    width: 100%;
    border-radius: 8px;
    margin:32px 0;
    text-align: center;
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;

    button {
      width: 90%;
      height: 48px;
      margin: 24px auto;
      padding: 12px 0 12px;
      border-radius: 8px;
      color: white;
      background-color: $dark-blue-grey;
      border: none;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      z-index: 50;
    }
  }

  .publisher {
    flex-basis: auto;
  }

  .cta-idea {
    max-height: fit-content;
  }

}


