@import "scss/typo";
@import "scss/forms";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "scss/variables";

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 240px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 470px;
  }

}


