// brand colours
$dark-blue-grey: #1a2c4f;
$light-periwinkle: #d5d8df;
$aqua: #0fe5c6;
$inactive: #828b9f;
$lightbackdrop: #f3f4f6;
$butterscotch: #ffc03d;
$salmon-pink: #ff767e;
$light-purple: #b47be4;
$azure: #0098e9;
$ice-blue:#e7f5fd;
$sky: #8bd0f5;

// theme colours
$default-text: $dark-blue-grey;
$placeholder-text: $inactive;
$default-border: $light-periwinkle;

